[Unit]
Description=sqlpad server

[Service]
ExecStart=/usr/bin/sqlpad --dir /home/sqlpad/sqlpad --port 3000
Restart=always
User=sqlpad
Group=sqlpad

[Install]
WantedBy=multi-user.target
