[Unit]
Description=Nycdb Server
After=postgresql.service

[Service]
ExecStart=/usr/local/bin/postgrest /home/api/postgrest.conf
ExecReload=/bin/kill -SIGUSR1 $MAINPID
Restart=on-failure
RestartSec=30
User=api
Group=api

[Install]
WantedBy=multi-user.target
