env.sh
env.sh.backup
*~
tmp/
data/
!dashboard/data
.env/
nyc-db*.sql
ansible/playbook.retry
modules/311/.cache/
modules/311/311.csv
modules/311/Gemfile.lock
modules/311/*.zip
modules/311/version-17a_17.1/

server/postgrest
server/*.tar.xz
server/*.html
!server/index.html

docker/sqlpad
docker/postgres-data
postgres-data

modules/hpd-complaints/*.csv