env.sh
env.sh.backup
*~
tmp/
data/
!dashboard/data
!src/tests/integration/data
.env/
nyc-db*.sql
ansible/*.retry
ansible/credentials
ansible/hosts

server/postgrest
server/*.tar.xz
server/*.html
!server/index.html

docker/sqlpad
docker/postgres-data
postgres-data

modules/hpd-complaints/*.csv

src/.pytest_cache/

*.bz2
.DS_Store
