sudo: true
dist: xenial

language: python
python:
  - 3.6
  - 3.7
  - 3.8
  - 3.9

services:
  - docker

before_install:
  - docker pull postgres:10

install:
  - pip install pytest
  - pip install ./src

script:
  - cd src && ./scripts/test
