doctype html
html
  head
    link(rel='stylesheet' href='./tachyons.css')
    link(rel='stylesheet' href='./styles.css')
  body.courier
    header.tc.ph4
      h1.f3.f2-m.f1-l.fw3.black-90.mv3 
        | Housing Statistics for Community Board Districts
      //h2.f5.f4-m.f3-l.fw2.black-90.mv3
    main.mb3
      for boro in districts
        div.fl.w-100.pa3
          h2.f3.black-60 #{boro[0]}
          for district in boro[1]
            div.fl.w-80.mb3.links
              a.link.black.hover-bg-light-red(href=`${district.cd}.html`) 
                | #{district.neighborhoods}


